node_modules/
dist/
.env
*.log
terraform/.terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

infra/setup/terraform.tfstate
infra/setup/.terraform
infra/setup/terraform.tfstate.backup
infra/setup/terraform.tfvars
infra/setup/.terraform.lock.hcl

